<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfa5IqBxta4Rb1G9G1ku4lE_YLkQF2qIM</string>
	<key>GCM_SENDER_ID</key>
	<string>347460974318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nijimas</string>
	<key>PROJECT_ID</key>
	<string>nijimas-2832c</string>
	<key>STORAGE_BUCKET</key>
	<string>nijimas-2832c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347460974318:ios:d460088957e0770a46e5ff</string>
</dict>
</plist>