<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697110520824-1hdjhgtg29bgg76jqv3m35o62bm497nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697110520824-1hdjhgtg29bgg76jqv3m35o62bm497nr</string>
	<key>API_KEY</key>
	<string>AIzaSyAc6xJimTeeoLNE2yg_sLrd6-9etLBbXa4</string>
	<key>GCM_SENDER_ID</key>
	<string>697110520824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nijimas</string>
	<key>PROJECT_ID</key>
	<string>nijimas-bbcd0</string>
	<key>STORAGE_BUCKET</key>
	<string>nijimas-bbcd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697110520824:ios:53ffee81e26ebadfa6ac0d</string>
</dict>
</plist>